# Created by https://www.gitignore.io/api/git,angular,visualstudiocode
# Edit at https://www.gitignore.io/?templates=git,angular,visualstudiocode

### Angular ###
## Angular ##
# compiled output
dist/
tmp/
out-tsc/

src/app/**/*.js
src/app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/
.angular
# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
debug.log
typings/

# e2e
e2e/*.js
e2e/*.map

#System Files
.DS_Store

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/git,angular,visualstudiocode
