
<input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher...">
<br>
<select [(ngModel)]="selectedBrand">
  <option value="">Toutes les marques</option>
  <option *ngFor="let brand of brands" [value]="brand.name">{{ brand.name }}</option>
</select>

<table>
  <thead>
    <tr>
      <th>Statut </th>
      <th>Nom</th>
      <th>Type </th>
      <th>Brand </th>
      <th>souhaitée </th>
       
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items | filterPipe:searchTerm | brandPipe: selectedBrand">
      <td>{{ item.requestId }}</td>
      <td>{{ item.campaignName }}</td>
      <td>{{ item.advice }}</td>
      <td>{{ item.brand?.name }}</td>
      <td>{{item.decisionDeadline | date: 'dd/MM/yyyy'}}</td>
    </tr>
  </tbody>
</table>
